#form_creator {
	margin: 80px 0px 0px 0px;
}
#basic-form {
	width: 45%;
	float: right;
	margin: 0px 0px 10px 0px;
	background-color: #fcfcfc;
	border-radius: 3px;
}
#setting {
	width: 45%;
	float: right;
	text-align: right;
	margin: 0px 0px 0px 40px;
	background: #ededed;
	height: 500px;
	border:0;
}
#setting h2 {
	margin: 0px;
	padding: 0px;
}
#setting h2 ul li {
	float: right;
	background-image: none;
	margin: 0px -8px;
	border: 0;
	background: none;
	text-align: center;
	padding: 0;
	position: relative;
	z-index: 1;
}
#setting h2 ul li:first-child{
	margin-right: 0;
}
#setting div {
	margin: 0px;
	padding: 0px;
}


#draggable {
	border: 0;
	background: transparent;
}
#draggable li {
	margin: 15px auto;
	padding: 20px 0;
	min-height: 30px;
	float: none;
	width: 80%;
	background: #f0f0f0;
	text-align: center;
	border: 3px solid #d2d3d4;
	border-radius: 5px;
	cursor: all-scroll;
}
.ui-draggable {
	margin: 10px 5px 10px 5px;
	padding: 5px;
	width: 230px;
	min-height: 50px;
	list-style: none;
}
.ui-draggable input, .ui-draggable textarea {
	cursor: pointer;
	background: white;
}

#dragged-elements{
	border: 0;
	background: transparent;
	min-height: 150px;
}

.form-close,.form-edit{
	cursor: pointer;
}

.hidden-row {
	display: none;
}

.save_prop {
	display: none;
}
.element-data{
	background-color: white;
	padding: 8px;
	border: 1px solid pink;
	margin: 3px 0px 3px 0px;
	width: 50%;
	font-size: 14px;
	
	
	
}
.element-data div{
	font-size: 12px;
	margin:5px 0px 0px 10px; 
}


/* style */

.namozagk_wrap h2{
	background: url(../images/upload.png) no-repeat 100% 0%;
	height: 45px;
	padding-top: 10px;
	padding-right: 80px;
}
.namozagk_wrap h2 a{
	color: #003399;
	 font-size: 30px;
  	font-weight: bold;
}
.namozagk_wrap .forms-codes thead th{
	background: #313437;
	height: 30px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	border-right: 1px solid #ffffff;
}
.namozagk_wrap .forms-codes td{
	height: 35px;
	text-align: center;
	border-right: 1px solid #ffffff;
	vertical-align: middle;
}
.namozagk_wrap .forms-codes tr:nth-child(odd) td{
	background: #f1f1f1;
}
.namozagk_wrap .forms-codes tr:nth-child(even) td{
	background: #f9f9f9;
}

.forms-codes-pagination{
	margin: 50px auto 0;
	text-align: center;
}
.forms-codes-pagination .tablenav-pages a , .forms-codes-pagination .tablenav-pages span{
	padding: 3px;
	border-radius: 50%;
	border: 1px solid #e4e4e4;
	text-decoration: none;
	color: #000;
	width: 20px;
	height: 20px;
	display: inline-block;
	background: #fff;
	margin: 0 3px;
}
.forms-codes-pagination .tablenav-pages span{
	background: #494949;
	color: #fff;
}
.forms-codes-pagination .tablenav-pages a:hover{
	background: #494949;
	color: #fff;
}

.form-table tr td:first-child{
	width: 30%;
}
.form-table input[type="text"]{
	height: 40px;
	border: 2px solid #0074a2;
	border-radius: 5px;
	width: 80%;
}
.form-table label{
	color: #404040;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Arial';
}
.drag_items{
	background: #eeecec;
	width: 95%;
	margin: 10px auto;
	border: 1px solid #E4E4E4;
}
.drag_items .drag_here_title{
	background: #0074a2;
	margin: 0;
	padding: 10px 5px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	font-family: 'arial';
	position: relative;
}
.drag_items .drag_here_title::after{
	content: "";
	width: 0;
	height: 0;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-top: 15px solid #0074a2;
	position: absolute;
	right: 50px;
	bottom: -10px;
}

#setting #draggable{
	max-height: 450px;
	overflow-y: scroll;
}
#setting .nav-tab-wrapper{
	border: 0;
}
#setting ul.category-tabs{
	background: transparent;
	border: 0;
	top: -45px !important;
	position: relative;
}
#setting ul.category-tabs li a{
	width: 164px;
	height: 32px;
	padding: 10px 0 0 0;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Arial';
	outline: none;
	background: url(../images/btn-inactive.png) no-repeat;
	color: #fbfbfb;
	box-shadow: none;
}
.ui-state-focus{
	outline: none;
}
#setting ul.category-tabs li.ui-state-active{
	z-index: 2;
}
#setting ul.category-tabs li.ui-state-active a{
	background: url(../images/btn-active.png) no-repeat;
	color: #636363;
	outline: none;
}
#basic-form input[type=submit]{
	background: #0074a2;
	padding: 8px 25px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	font-family: 'Arial';
	border: 2px solid #036A93;
	margin: 5px 12px;
	cursor: pointer;
	transition:all ease-in-out .3s;
	-webkit-transition:all ease-in-out .3s;
	-moz-transition:all ease-in-out .3s;
	-o-transition:all ease-in-out .3s;
	-ms-transition:all ease-in-out .3s;
	float: left;
}
#basic-form input[type=submit]:hover{
	background: #036A93;
	border:2px solid #0074a2;
}

.namozagk-form .ui-state-hover{
	background: #fcfcfc !important;
	border: 2px dashed #0074a2 !important;
	border-top: 2px solid #0074a2 !important;
}
#dragged-elements li.dragged{
	width: 90% !important;
	min-height: 50px;
	margin: 15px auto;
	text-align: center;
	padding: 10px 0 0 0;
	background: #F0F0F0;
	height: auto !important;
}
#dragged-elements li.ui-sortable-helper{
	width: 470px !important;
}
#dragged-elements li .actions {
	font-size: 15px;
	font-weight: bold;
	font-family: 'Arial';
	text-transform: capitalize;
	margin-top: 10px;
	background: #E5E5E5;
}
#dragged-elements li .actions span{
	width: 49.2%;
	text-align: center;
	display: inline-block;
	padding: 10px 0;
}
#dragged-elements li .actions .form-edit:hover{
	background: #E79528;
}
#dragged-elements li .actions .form-edit:hover a{
	color: #fff;
}
#dragged-elements li .actions .form-close:hover{
  background: #ED3E3E;
  color: #fff;
  }

#basic_prop{
	padding: 10px !important;
}
#options_form table td span{
	font-family: 'Arial';
	font-size: 14px;
	font-weight: bold;
}
#options_form input[type=email],#options_form input[type=text]{
	height: 35px;
	border: 2px solid #0074a2;
	border-radius: 4px;
	margin-right: 10px;
}
.save_prop{
	background: #0074a2;
	padding: 8px 25px;
	font-size: 14px;
	font-weight: bold;
	color: #fff !important;
	font-family: 'Arial';
	border: 2px solid #036A93;
	margin: 5px 12px;
	cursor: pointer;
	transition: all ease-in-out .3s;
	-webkit-transition: all ease-in-out .3s;
	-moz-transition: all ease-in-out .3s;
	-o-transition: all ease-in-out .3s;
	-ms-transition: all ease-in-out .3s;
	text-decoration: none;
}
.save_prop:hover{
	background: #036A93;
	border: 2px solid #0074a2;
}
#prop p{
	font-family: 'Arial';
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	color: #404040;
}